# Root-level custom tunnel server
BVPN_TUN_SERVER_NAME=bvpntun0
BVPN_TUN_SERVER_CIDR=10.99.0.1/24
BVPN_TUN_SERVER_LISTEN=:7001
BVPN_TUN_SERVER_WAN_IF=eth0
BVPN_TUN_SERVER_ENABLE_NAT=true
BVPN_TUN_SERVER_MTU=1380
