$env:BVPN_TUN_SERVER_HOST = "84.21.171.106"
$env:BVPN_TUN_SERVER_PORT = "7001"
$env:BVPN_TUN_CIDR = "10.99.0.2/24"
$env:BVPN_TUN_GATEWAY = "10.99.0.1"
$env:BVPN_TUN_BIND = ":0"
$env:BVPN_TUN_NAME = "bvpntun1"
$env:BVPN_TUN_ROUTE_DEFAULT = "true"
$env:BVPN_TUN_MTU = "1380"

# Path to the Windows tunnel binary
# $env:BVPN_TUN_BIN = "C:\ProgramData\BlockchainVpn\bin\blockchain-vpn-tun-client.exe"

# Optional state root
# $env:BVPN_WINDOWS_HOME = "C:\ProgramData\BlockchainVpn"
